img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top center;
}
table tr td {
    line-height: 40px;
    padding: 6px 10px !important;
}
body {
    display: flex;
}
.leftside {
    height: 100vh;
    width: 225px;
    border-right: 1px solid #ddd;
    padding-top: 30px;
}
.content-area {
    width: calc(100% - 225px);
    padding: 30px 20px;
}
.admin-profile {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.admin-profile .adminimage {
    margin: 0px 10px 0px 20px;
}
.admin-profile .adminname {
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.adminmenu a{}
.adminmenu a i{
    padding: 0px 10px;
}